body {
    background-color: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
.descripcion {
  color: #666666;
}
header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  gap: 30px;
  padding: 20px 50px;
  font-size: 2.7rem; 
  font-family: 'Playfair Display', serif;
}

header .logo{
    width: 200px;
    height: auto;
}
header .carrito-logo {
  width: 100px;
  height: auto;
  cursor: pointer;
}
nav {
  width: 100%;              
  background-color: #333;    
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  gap: 20px;
}

nav ul li a {
  display: block;               
  padding: 15px 0;              
  color: white;                 
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;           
  width: 100%;                  
}
nav ul li a:hover {
  background-color: #555; 
}
footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.productos-grid {
  display: flex;           
  gap: 20px;               
  flex-wrap: wrap;         
  justify-content: center; 
}

.productos-grid .producto-card {
  flex: 1 1 250px;        
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.productos-grid .producto-card img {
  width: 100%;
  height: 200px;      
  object-fit: cover; 
  display: block;
}

.registro-login{
  display: flex;
  gap: 10px;                  
  justify-content: flex-end;  
  padding: 10px 50px;
}
.boton-reging{
  display: inline-block;
  padding: 10px 20px;  
  border: 2px solid #333;                
  background-color: rgba(255,255,255,0); 
  color: #333 ;                            
  text-decoration: none;                 
  border-radius: 5px;                    
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
.boton-reging:hover {
  background-color: rgba(51, 51, 51, 0.1); 
  color: #000 ;
}
/*carrusel */

.carrusel {
  position: relative;
  overflow: hidden;
  width: 900px; 
  margin: auto;
}

.carrusel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.carrusel .producto-card {
  flex: 1 1 300px; 
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.carrusel .producto-card img {
  width: 100%;  
  height: 200px;      
  object-fit: cover; 
  display: block;
}

.carrusel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.carrusel-btn.prev {
  left: 10px;
}

.carrusel-btn.next {
  right: 10px;
}

@media (max-width: 480px) {
  header {
    padding: 30px 10px;
    font-size: 1.5rem;
  }
  nav ul {
    flex-direction: column; 
    gap: 5px;
  }
  .registro-login {
    flex-direction: column; 
    gap: 5px;
    justify-content: center;
  }
}
